<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>

<div class="container">


 <h1 class="display-3">Give data </h1>


    <form action="/showname" method="GET">


<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">First Name:  &nbsp;&nbsp; &nbsp;&nbsp; </label>
  <input type="text" name="first_name" class="form-control" id="exampleFormControlInput1" placeholder="Kabir">
</div>

<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">Last Name: &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
  <input type="text" name="last_name" class="form-control" id="exampleFormControlInput1" placeholder="Thappar">
</div>

<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">Phone Number:</label>
  <input type="tel" name="num" class="form-control" id="exampleFormControlInput1" placeholder="685549854">
</div>

<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">Your Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="password" name="pass" class="form-control" id="exampleFormControlInput1" placeholder="*****">
</div>

<div class="col-md-3">
  <label for="exampleFormControlInput1" class="form-label">Date of Birth: &nbsp;&nbsp;</label>
  <input type="date" name="dob" class="form-control" id="exampleFormControlInput1" placeholder="dd-mm-yyyy">
</div>

<div class="col-md-3">
            <label for="exampleFormControlInput1" class="form-label">YouTube Link:</label>
            <input type="text" name="yt" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="https://www.youtube.com/watch?v=PkKnp4SdE-w&list=RDPkKnp4SdE-w&start_radio=1" name="ylink">
          </div>





    {% comment %} <input type="checkbox" name="showplace" id=""> {% endcomment %}

    <button class="btn btn-success mt-3" type="submit" >Submit</button>
    </form>
    




</div>  
   
</body>
</html>