<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>

    {% comment %} <h1>Give data </h1> {% endcomment %}
    <div> 
        <h1> Fullname: {{first_name}} {{last_name}}  </h1>
        {% comment %} <h1> First name: {{first_name}} </h1> {% endcomment %}
        {% comment %} <h1> Last name: {{last_name}} </h1> {% endcomment %}
        <h1> Phone number: {{num}}  </h1>
        <h1> Email: {{email}}  </h1>
        {% comment %} <h1> Password: {{pass}}  </h1> {% endcomment %}
        <h1> Date Of Birth: {{dob}}  </h1>
        <h1> Youtube link: <a href="about:blank" target="_blank">{{yt}}</a> </h1>
        <h1 style="color: green"> Thankyou {{first_name}} {{last_name}} you are registered! </h1>

        
        {% comment %} showplace: {{showplace}} {% endcomment %}
           
    
    </div>
</body>
</html>